.button{
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.6rem;
    font-weight: 600;
    transition: 0.3s;
}

.button:hover{
    background-color: var(--sec-color);
    transition: 0.3s;
}

.button-outline{
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
    color: var(--primary-color);
    border: solid 0.3rem var(--primary-color);
    border-radius: 0.5rem;
    font-weight: 600;
    transition: 0.3s;
}

.button-outline:hover{
    background-color: var(--sec-color);
    color: var(--white-color);
    transition: 0.3s;
    border: solid 0.3rem var(--sec-color);
}


.normal-link{
    font-weight: 600;
    color: var(--primary-color);
}

.normal-link:hover{
    text-decoration: underline;
}

.title{
    font-size: 3.5rem;
}

.buttonInverse{
    color: var(--primary-color);
    background-color: var(--white-color);
}

.exp-card{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    text-align: center;
    align-items: center;
    gap: 2rem;
}
.exp-card img{
    width: 15rem;
    padding-bottom: 2rem;
    border-bottom: solid var(--primary-color) 0.3rem;
}
.exp-card img:nth-last-child(){
    width: 10rem;
}

.depoiment-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.depoiment-card img{
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    width: 40%;
    border-radius: 50%;
}

/*.user-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.9rem;
    width: 100%;
    color: var(--white-color);
}*/
.candidato-card{
    background-color: var(--bege-color);
}


.sidebar-link{
    padding: 1.5rem 3rem;
    background-color: var(--background-color);
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s;
    border-radius: 0.9rem;
    width: 100%;
    color: var(--secondary-color);
}

.sidebar-link.ativo{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.sidebar-link:hover{
    background-color: var(--hover-color);
    transition: 0.3s;
}

.log-out-button{
    padding: 1.5rem 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s;
    border-radius: 0.9rem;
    width: 100%;
    color: var(--secondary-color);
    border: solid 0.1rem var(--secondary-color);
}


.section-title{
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 900;
}

/* Notifications*/

.notifications-list{
    position: fixed;
    top: 8rem;
    width: 28rem;
    height: 85vh;
    padding: 2rem 1rem;
    background-color: var(--white-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    border: 0.1rem solid var(--primary-color);
    overflow-y: scroll;
    right: -30rem;
    opacity: 0;
    transition: all 0.5s ease;
}

.notifications-list.active{
    right: 3rem;
    opacity: 1;
    transition: all 0.5s ease;
}

.notification{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 0.1rem solid var(--primary-color);
    color: var(--black-color);
}

.notification h1{
    font-size: 1.5rem;
    font-weight: 600;
}

.notification p{
    font-size: 1.2rem;
    font-weight: 400;
}

.notification.not-read{
    background-color: var(--background-color);
}

/* EMPRESAS*/
.action-card-container{
    gap: 2rem;
}

.action-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 3rem;
    border-radius: 0.6rem;
    color: #fff;
    width: 24rem;
    height: 24rem;
    background-color: var(--primary-color);
}
.action-card:hover{
    background: var(--sec-color);
    transition: 0.6s;
}

.action-card img{
    width: 10rem;
}

/* COMPANY HEADER & COMPANY SIDEBAR*/

.company-header .user-card{
    width: 25rem;
    color: var(--black-color);
    background: var(--background-color);
    padding: 1rem;
}

.company-sidebar .sidebar-link{
    color: var(--white-color);
    background: none;
    border-radius: 0;
    width: 100%;
}

.company-sidebar .sidebar-link.ativo{
    border-left: 1rem solid var(--primary-color);
}

.company-sidebar .sidebar-link:hover{
    border-left: 1rem solid var(--background-color);
    width: 100%;
}

.company-sidebar .log-out-button{
    color: var(--white-color);
    border: solid 0.1rem var(--white-color);
}

/* LOGIN AND REGISTER*/

.log-section{
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}

.log-section P{
    font-size: 1.3rem;
}

.log-section img{
    width: 6rem;
}

.error-log{
    background-color: #F8D7DA;
    color: #721C24;
    border: 0.1rem solid #F5C6CB;
}

.info-log{
    background-color: #D1ECF1;
    color: #0C5460;
    border: 0.1rem solid #BEE5EB;
}

.sucess-log{
    background-color: #D4EDDA;
    color: #155724;
    border: 0.1rem solid #C3E6CB;
}

.invalid-field {
    border: 2px solid red;
    outline: none;
}

.invalid-field:focus {
    box-shadow: 0 0 5px red;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
    display: block;
}

/* VAGAS */

.vaga-empresa-card{
    padding: 1rem;
    background-color: var(--background-color);
    border-radius: 0.6rem;
}
.vaga-empresa-card .vaga-title{
    font-size: 2rem;
}

.vaga-card, .formacao-card{
    background: var(--white-color);
    color: var(--dark-color);
    padding: 2rem;
    border-radius: 1rem;
    gap: 1.3rem;
    position: relative;
}

.date{
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: gray;
}

.vaga-card .vaga-title, .formacao-card .formacao-title{
    font-size: 2.7rem;
    color: var(--third-color);
}
.vaga-card .vaga-title:hover, .formacao-card .formacao-title:hover{
    text-decoration: underline;
}

.vaga-card .vaga-information{
    padding-left: 3.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vaga-card .vaga-details{
    font-size: 1.2rem;
    color: var(--dark-color);
}

.vaga-card .vaga-application-area{
    gap: 1rem;
}

/* FORMAÇÃO-CARD */

.formacao-card{
    display: flex;
    flex-direction: row;
}

.formador-icon{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}
.posted-by{
    color: gray;
    gap: 1rem;
}
.posted-by p{
    font-size: 1.2rem;
}
.posted-by .formador-link{
    gap: 0.6rem;
    text-decoration: underline;
    color: var(--primary-color);
}


.btn{
    padding: 1rem 2rem;
    background: var(--primary-color);
    border: solid 0.2rem var(--primary-color);
    color: #fff;
    border-radius: 0.6rem;
    transition: 0.3s;
    font-size: 1.3rem;
    text-align: center;
}

.btn.login{
    background: none;
    color: var(--primary-color);
    border: solid 0.2rem var(--primary-color);
    text-align: center;
    font-weight: 600;
}

.btn:hover{
    background: var(--third-color);
    color: var(--white-color);
    border: solid 0.2rem var(--third-color);
    transition: 0.3s;
}

/*User card - SideBar & HomeHeader*/

.user-card{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
    width: 100%;
    color: var(--secondary-color);
    transition: 0.3s;
    cursor: pointer;
}
.user-card:hover{
    background: var(--hover-color);
    transition: 0.3s;
}

.user-img{
    object-fit: cover;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.user-card h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.user-card p{
    font-size: 1rem;
    font-weight: 400;
}

.user-options-container{
    background: var(--white-color);
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 101%;
    width: 100%;
    left: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    visibility: hidden;
}
.user-options-container.active{
    visibility: visible;
}

.user-option{
    font-size: 1.3rem;
    color: var(--dark-color);
    padding: 1rem 2rem;
}


@media screen and (max-width: 768px) {
    .title{
        font-size: 2.7rem;
        text-align: left;
    }
    .exp-card{
        flex-direction: row;
        width: 100%;
        
    }
    .exp-card img{
        width: 10rem;
        border-bottom: none;
        padding-bottom: 0;
        padding-right: 2rem;
        border-right: solid var(--primary-color) 0.3rem;
    }
}

.marimbaz{
    color: var(--primary-color);
    font-weight: 600;
}
