:root {
    /* COLOURS */
    --vh: 100%;

    /* Size */
    --big-sz: 3.4rem;
    --mid-sz: 2.4rem;
    --small-sz: 1.6rem;
    --vsmall-sz: 1.2rem;

    /* Fonts */
    --normal-font: 500;

    /* Paddings */
    --button-p: 0.7rem 1rem;

    /* Borders */
    --button-radius: 1rem;
}


body.light-mode{
    --primary-color: #01B4AE;
    --hover-button-color: #a1d0d8;
    --secondary-color: #072F36;
    --background-color: #EDFAF9;
    --bege-color: #D4AE74;


    --sec-color: #005d6d;
    --black-color: #000000;
    --dark-color: #121212;
    --white-color: #FFFFFF;
    --light-color: #ececec2f;
    --gray-color: #2E2F2F;

    --text-white: #FFFFFF;
    --text-black: #000000;
    --text-gray: #C0BFBF;
}

body.dark-mode{
    --primary-color: #02ded7;
    --hover-button-color: #a1d0d8;
    --secondary-color: #00c8c1;
    --background-color: #072F36 ;
    --bege-color: #D4AE74;
    --color: #f0f9f8;

    --sec-color: #005d6d;
    --black-color: #fff;
    --dark-color: #121212;
    --white-color: #151B23;
    --light-color: #ececec2f;
    --gray-color: #2E2F2F;

    --text-white: #FFFFFF;
    --text-black: #000000;
    --text-gray: #C0BFBF;
}

.container{
    padding: 3rem;
    background: var(--white-color);
    margin: 0 2rem;
    width: 97%;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.content{
    height: 100vh;
}

.over-hidden{
    overflow: hidden;
}

.full{
    width: 100%;
    height: 100%;
}

.f-width{
    width: 100%;
}

/* Fonts */

p{
    font-size: 1.5rem;
    text-align: justify;
}

.normal-font {
    font-weight: var(--normal-font);
}

.small-sz {
    font-size: var(--small-sz);
}

/* FlexBox */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.f-center {
    justify-content: center;
    align-items: center;
}

.a-center{
    align-items: center;
}

.j-between{
    justify-content: space-between;
}

.j-evenly{
    justify-content: space-evenly;
}

.j-center{
    justify-content: center;
}

.j-around{
    justify-content: space-around;
}
.t-center{
    text-align: center;
}

.off{
    display: none;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}