.button{
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    font-weight: 600;
    transition: 0.3s;
}

.button:hover{
    background-color: var(--sec-color);
    transition: 0.3s;
}

.button-outline{
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
    color: var(--primary-color);
    border: solid 0.3rem var(--primary-color);
    border-radius: 0.5rem;
    font-weight: 600;
    transition: 0.3s;
}

.button-outline:hover{
    background-color: var(--sec-color);
    color: var(--white-color);
    transition: 0.3s;
    border: solid 0.3rem var(--sec-color);
}

.title{
    font-size: 3.5rem;
}

.body-text{
    font-size: 2rem;
}

.buttonInverse{
    color: var(--primary-color);
    background-color: var(--white-color);
}


@media screen and (max-width: 768px) {
    .title{
        font-size: 2.7rem;
    }
}